.loader-wrapper {
  position: absolute;
  display: flex;
  height: 65%;
  width: 100%;
  background: whitesmoke;
  opacity: 0.8;
  z-index: 99;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #0b090a;
  border-right: 10px solid #660708;
  border-bottom: 10px solid #ba181b;
  border-left: 10px solid #b1a7a6;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
