a {
  text-decoration: none;
}

#create {
  background: linear-gradient(to right, rgba(8, 20, 185, 0.952), rgba(47, 0, 255, 0.966));
  border-radius: 5px;
  padding: 0.2rem;
  padding-right: 0.4rem;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Satisfy', cursive;
}

#create a {
  padding-bottom: 0.1rem;
  font-size: 1.3rem;
}

#create:hover {
  background: rgb(0, 17, 255);
}

#unameli {
  background: linear-gradient(to right, rgba(255, 255, 0, 0.198), rgba(255, 255, 0, 0.301));
  border-radius: 5px;
  cursor: pointer;
}

#unameli:hover {
  background: rgba(255, 0, 0, 0.356);
}
