<header class="display-4 text-center mb-1">Add Post</header>

<div [hidden]="!msg" class="alert alert-success">{{msg}}</div>
<form #frm="ngForm" class="container" (ngSubmit)="addPost()">
  <div class="row">
    <div class="col-4 form-group">
      <label for="posttitle">Title</label>
      <input [(ngModel)]="post.title" #posttitle="ngModel" name="txtposttitle" type="text" id="posttitle"
        class="form-control" required minlength="3" maxlength="30" pattern="[0-9a-zA-Z_ ]*" autocomplete="off">
      <div class="alert alert-danger" *ngIf="posttitle.touched && !posttitle.valid">
        <div *ngIf="posttitle.errors.required">Title is required.</div>
        <div *ngIf="posttitle.errors.minlength">Title must be atleast 3 characters long.</div>
        <div *ngIf="posttitle.errors.maxlength">Title must be maximum 30 characters long.</div>
        <div *ngIf="posttitle.errors.pattern">Title must not contain spaces or special characters.</div>
      </div>
    </div>
    <div class="col-4 form-group">
      <label for="postauthor">Author</label>
      <input [(ngModel)]="post.author" #postauthor="ngModel" name="txtpostauthor" type="text" id="postauthor"
        class="form-control" required minlength="3" maxlength="30" pattern="[0-9a-zA-Z_]*" autocomplete="off">
      <div class="alert alert-danger" *ngIf="postauthor.touched && !postauthor.valid">
        <div *ngIf="postauthor.errors.required">Author is required.</div>
        <div *ngIf="postauthor.errors.minlength">Author must be atleast 3 characters long.</div>
        <div *ngIf="postauthor.errors.maxlength">Author must be maximum 30 characters long.</div>
        <div *ngIf="postauthor.errors.pattern">Author must not contain spaces or special characters.</div>
      </div>
    </div>
    <div class="col-4 form-group">
      <label for="posttags">Tags</label>
      <ng-multiselect-dropdown [placeholder]="'Tags'" [settings]="dropdownSettings" [data]="dropdownTags"
        [(ngModel)]="selectedTags" name="txtselectedTags" id="selectedTags" required>
      </ng-multiselect-dropdown>
    </div>

  </div>

  <div class="row align-items-center my-3">
    <div class="form-group col-6">
      <label for="postcontent">Content</label>
      <textarea [(ngModel)]="post.content" #postcontent="ngModel" name="txtpostcontent" id="postcontent"
        class="form-control" required autocomplete="off"
        placeholder="Enter content here (Markdown accepted!)"></textarea>
      <div class="alert alert-danger" *ngIf="postcontent.touched && !postcontent.valid">
        <div *ngIf="postcontent.errors.required">Content is required.</div>
      </div>
    </div>
    <div class="form-group col-6">
      <label for="markdown">Generated Markdown</label>
      <markdown class="form-control" id="markdown" [data]="post.content" placeholder="Markdown"></markdown>
      <div class="alert alert-danger" *ngIf="postcontent.touched && !postcontent.valid">
        <div *ngIf="postcontent.errors.required">Generated Markdown is empty.</div>
      </div>
    </div>

  </div>
  <button class="btn btn-primary" [disabled]="!frm.valid">Create Post</button>
</form>
