<header class="display-4 text-center mb-1">Add Post</header>

<div [hidden]="!msg" class="alert alert-success">{{msg}}</div>
<form #frm="ngForm" class="col-6 mx-auto" (ngSubmit)="addPost()">
  <div class="form-group">
    <label for="posttitle">Title</label>
    <input [(ngModel)]="post.title" #posttitle="ngModel" name="txtposttitle" type="text" id="posttitle"
      class="form-control" required minlength="3" maxlength="30" pattern="[0-9a-zA-Z_]*" autocomplete="off">
    <div class="alert alert-danger" *ngIf="posttitle.touched && !posttitle.valid">
      <div *ngIf="posttitle.errors.required">Title is required.</div>
      <div *ngIf="posttitle.errors.minlength">Title must be atleast 3 characters long.</div>
      <div *ngIf="posttitle.errors.maxlength">Title must be maximum 30 characters long.</div>
      <div *ngIf="posttitle.errors.pattern">Title must not contain spaces or special characters.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="posttags">Tags</label>
    <input [(ngModel)]="post.tags" #posttags="ngModel" name="txtposttags" type="text" id="posttags" class="form-control"
      required minlength="3" maxlength="10" pattern="[0-9a-zA-Z_]*" autocomplete="off">
    <div class="alert alert-danger" *ngIf="posttags.touched && !posttags.valid">
      <div *ngIf="posttags.errors.required">Tags is required.</div>
      <div *ngIf="posttags.errors.minlength">Tags must be atleast 3 characters long.</div>
      <div *ngIf="posttags.errors.maxlength">Tags must be maximum 10 characters long.</div>
      <div *ngIf="posttags.errors.pattern">Tags must not contain spaces or special characters.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="postcontent">Content</label>
    <textarea [(ngModel)]="post.content" #postcontent="ngModel" name="txtpostcontent" type="text" id="postcontent"
      class="form-control" required autocomplete="off">
    <div class="alert alert-danger" *ngIf="postcontent.touched && !postcontent.valid">
      <div *ngIf="postauthor.errors.required">Author is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="postauthor">Author</label>
    <input [(ngModel)]="post.author" #postauthor="ngModel" name="txtpostauthor" type="text" id="postauthor"
      class="form-control" required minlength="3" maxlength="30" pattern="[0-9a-zA-Z_]*" autocomplete="off">
    <div class="alert alert-danger" *ngIf="postauthor.touched && !postauthor.valid">
      <div *ngIf="postauthor.errors.required">Author is required.</div>
      <div *ngIf="postauthor.errors.minlength">Author must be atleast 3 characters long.</div>
      <div *ngIf="postauthor.errors.maxlength">Author must be maximum 30 characters long.</div>
      <div *ngIf="postauthor.errors.pattern">Author must not contain spaces or special characters.</div>
    </div>
  </div>

  <button class="btn btn-primary" [disabled]="!frm.valid">Create Post</button>
</form>
