<section>
  <app-spinner *ngIf="loadingService.loadingS | async"></app-spinner>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="p-2">
          <h5 class="card-title text-center display-2">{{post.title}}</h5>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div id="tag-container" class="">
        <div id="tag" class="mx-2" *ngFor="let tag of post.tags"> {{tag | uppercase}}</div>
      </div>
    </div>

    <div class="row mb-2">
      <div id="" class="">
        <div id="" class="mx-2 fs-4"><span id="description" class="fw-bold">Description: </span>
          <span *ngIf="post.description == null ">Not Available</span> {{post.description}}
        </div>
      </div>
    </div>

    <div class="row mb-1">
      <div class="button-container"><input type="button" id="button" class="btn" value="Edit Blog"
          routerLink="/posts/update/{{post.id}}"></div>

    </div>

    <div class="row mb-2">
      <div id="" class="">
        <markdown class="form-control fs-5" [data]="post.content" lineNumbers placeholder="Markdown"></markdown>
      </div>
    </div>

    <div class="row">
      <div id="contribute-container" class="">
        <span id="contribute-author">Contributed By: {{post.author}}</span>
        <span id="contribute-created">{{post.createdAt | slice:0:10}}</span>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <app-spinner *ngIf="loadingService.loadingS | async"></app-spinner>
  <div class="container">
    <div class="row">
      <div class="col-10 col-sm-10 col-md-10">
        <div class="card-body p-2">
          <h5 class="card-title text-center display-2">{{post.title}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li id="tag-container" class="list-group-item">
            <div id="tag" class="d-inline" *ngFor="let tag of post.tags"> {{tag | uppercase}}</div>
          </li>
          <li class="list-group-item">Author: {{post.author}}</li>
          <markdown class="form-control" [data]="post.content" lineNumbers placeholder="Markdown"></markdown>
          <li class="list-group-item"><input type="button" class="btn btn-dark" value="Edit Blog"
              routerLink="/posts/update/{{post.id}}"></li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
